/*
    Reset
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    border: 0;
    font-family: inherit;
    font-style: inherit;
    font-weight: inherit;
    outline: 0;
    vertical-align: baseline;
}

:focus {
    outline: 0;
}

ol,
ul {
    list-style: none;
}

table {
    border-collapse: separate;
    border-spacing: 0;
}

caption,
th,
td {
    font-weight: normal;
    text-align: left;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
}

blockquote,
q {
    quotes: "" "";
}

a img {
    border: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}


/*
    Document
*/

html {
    background: #2B2B2B;
}

body {
    background: transparent;
}

#page {
    margin: 0 auto;
}

#content {
    padding: 2vh;
}


/*
    Slot Machine
*/

#slot-machine {
    border-radius: 1vh;
    box-shadow: 0 1vh 50vh rgb(227 255 89 / 80%), 0 0.1vh 0.2vh rgb(251 255 0 / 80%);
    height: 15vh;
    width: 65vh;
    margin: auto;
    margin-top: 12vh;
    text-align: center;
}

#slot-body {
    -moz-border-radius: 1vh;
    -webkit-border-radius: 1vh;
    border-radius: 1vh;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: inset 0 0 2vh rgba(255, 255, 255, 0.6);
    height: 15.5vh;
    position: relative;
    width: 68vh;
    z-index: 2;
    background-image: url('./style/image/bg-gold-2.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#slot-frame {
    background: linear-gradient(to bottom, #BF953F, #FCF6BA, #FBF5B7, #AA771C);
    -moz-border-radius: 0.6vh;
    -webkit-border-radius: 0.6vh;
    border-radius: 0.6vh;
    -moz-box-shadow: 0 0 1.6vh rgba(255, 255, 255, 0.3);
    -webkit-box-shadow: 0 0 1.6vh rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 1.6vh rgba(255, 255, 255, 0.3), 0 0.1vh 0.1vh rgba(255, 255, 255, 0.5), 0 -0.1vh 0.1vh rgba(255, 255, 255, 0.2), inset 0 -0.2vh 1.5vh #000;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 11vh;
    left: 20%;
    margin-left: -11vh;
    position: absolute;
    top: 2.2vh;
    width: 62.9vh;
    z-index: 1;
    overflow: hidden;
}

#slot-block {
    display: none;
    height: 113%;
    left: 0;
    position: absolute;
    top: -1.8vh;
    width: 22.5vh;
    z-index: 4;
}

#slot-trigger {
    cursor: pointer;
    height: 12vh;
    right: -5vh;
    top: 2vh;
    position: absolute;
    width: 5vh;
}

#slot-trigger div {
    position: absolute;
    top: 0;
}

#slot-trigger .ring1 {
    background: #282828;
    background: -moz-linear-gradient(top, #282828 0%, #959595 14%, #d1d1d1 37%, #bababa 49%, #959595 67%, #212121 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #282828), color-stop(14%, #959595), color-stop(37%, #d1d1d1), color-stop(49%, #bababa), color-stop(67%, #959595), color-stop(100%, #212121));
    background: -webkit-linear-gradient(top, #282828 0%, #959595 14%, #d1d1d1 37%, #bababa 49%, #959595 67%, #212121 100%);
    background: -o-linear-gradient(top, #282828 0%, #959595 14%, #d1d1d1 37%, #bababa 49%, #959595 67%, #212121 100%);
    background: -ms-linear-gradient(top, #282828 0%, #959595 14%, #d1d1d1 37%, #bababa 49%, #959595 67%, #212121 100%);
    background: linear-gradient(to bottom, #282828 0%, #959595 14%, #d1d1d1 37%, #bababa 49%, #959595 67%, #212121 100%);
    -moz-border-radius: 0 0.2vh 0.2vh 0;
    -webkit-border-radius: 0 0.2vh 0.2vh 0;
    border-radius: 0 0.2vh 0.2vh 0;
    -moz-box-shadow: inset 0 0.2vh 0.3vh rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: inset 0 0.2vh 0.3vh rgba(0, 0, 0, 0.8);
    box-shadow: inset 0 0.2vh 0.3vh rgba(0, 0, 0, 0.8);
    height: 100%;
    left: 0;
    width: 2vh;
    z-index: 2;
}

#slot-trigger .ring1 .shadow {
    background: -moz-linear-gradient(top, rgba(149, 149, 149, 0.2) 0%, rgba(13, 13, 13, 0.18) 46%, rgba(1, 1, 1, 0.18) 50%, rgba(10, 10, 10, 0.18) 53%, rgba(78, 78, 78, 0.17) 76%, rgba(56, 56, 56, 0.16) 87%, rgba(27, 27, 27, 0.15) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(149, 149, 149, 0.2)), color-stop(46%, rgba(13, 13, 13, 0.18)), color-stop(50%, rgba(1, 1, 1, 0.18)), color-stop(53%, rgba(10, 10, 10, 0.18)), color-stop(76%, rgba(78, 78, 78, 0.17)), color-stop(87%, rgba(56, 56, 56, 0.16)), color-stop(100%, rgba(27, 27, 27, 0.15)));
    background: -webkit-linear-gradient(top, rgba(149, 149, 149, 0.2) 0%, rgba(13, 13, 13, 0.18) 46%, rgba(1, 1, 1, 0.18) 50%, rgba(10, 10, 10, 0.18) 53%, rgba(78, 78, 78, 0.17) 76%, rgba(56, 56, 56, 0.16) 87%, rgba(27, 27, 27, 0.15) 100%);
    background: -o-linear-gradient(top, rgba(149, 149, 149, 0.2) 0%, rgba(13, 13, 13, 0.18) 46%, rgba(1, 1, 1, 0.18) 50%, rgba(10, 10, 10, 0.18) 53%, rgba(78, 78, 78, 0.17) 76%, rgba(56, 56, 56, 0.16) 87%, rgba(27, 27, 27, 0.15) 100%);
    background: -ms-linear-gradient(top, rgba(149, 149, 149, 0.2) 0%, rgba(13, 13, 13, 0.18) 46%, rgba(1, 1, 1, 0.18) 50%, rgba(10, 10, 10, 0.18) 53%, rgba(78, 78, 78, 0.17) 76%, rgba(56, 56, 56, 0.16) 87%, rgba(27, 27, 27, 0.15) 100%);
    background: linear-gradient(to bottom, rgba(149, 149, 149, 0.2) 0%, rgba(13, 13, 13, 0.18) 46%, rgba(1, 1, 1, 0.18) 50%, rgba(10, 10, 10, 0.18) 53%, rgba(78, 78, 78, 0.17) 76%, rgba(56, 56, 56, 0.16) 87%, rgba(27, 27, 27, 0.15) 100%);
    -moz-border-radius: 0 0.2vh 0.2vh 0;
    -webkit-border-radius: 0 0.2vh 0.2vh 0;
    border-radius: 0 0.2vh 0.2vh 0;
    height: 50%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 1vh;
    z-index: 1;
}

#slot-trigger .ring2 {
    background: #282828;
    background: -moz-linear-gradient(top, #282828 0%, #959595 14%, #d1d1d1 37%, #bababa 49%, #959595 67%, #212121 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #282828), color-stop(14%, #959595), color-stop(37%, #d1d1d1), color-stop(49%, #bababa), color-stop(67%, #959595), color-stop(100%, #212121));
    background: -webkit-linear-gradient(top, #282828 0%, #959595 14%, #d1d1d1 37%, #bababa 49%, #959595 67%, #212121 100%);
    background: -o-linear-gradient(top, #282828 0%, #959595 14%, #d1d1d1 37%, #bababa 49%, #959595 67%, #212121 100%);
    background: -ms-linear-gradient(top, #282828 0%, #959595 14%, #d1d1d1 37%, #bababa 49%, #959595 67%, #212121 100%);
    background: linear-gradient(to bottom, #282828 0%, #959595 14%, #d1d1d1 37%, #bababa 49%, #959595 67%, #212121 100%);
    -moz-border-radius: 0 0.2vh 0.2vh 0;
    -webkit-border-radius: 0 0.2vh 0.2vh 0;
    border-radius: 0 0.2vh 0.2vh 0;
    -moz-box-shadow: inset 0 0.2vh 0.3vh rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: inset 0 0.2vh 0.3vh rgba(0, 0, 0, 0.8);
    box-shadow: inset 0 0.2vh 0.3vh rgba(0, 0, 0, 0.8);
    height: 80%;
    left: 0.8vh;
    overflow: hidden;
    top: 10%;
    width: 3vh;
    z-index: 1;
}

#slot-trigger .ring2 .shadow {
    background: -moz-linear-gradient(top, rgba(149, 149, 149, 0.15) 0%, rgba(13, 13, 13, 0.15) 46%, rgba(1, 1, 1, 0.15) 50%, rgba(10, 10, 10, 0.15) 53%, rgba(78, 78, 78, 0.15) 76%, rgba(56, 56, 56, 0.15) 87%, rgba(27, 27, 27, 0.15) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(149, 149, 149, 0.15)), color-stop(46%, rgba(13, 13, 13, 0.15)), color-stop(50%, rgba(1, 1, 1, 0.15)), color-stop(53%, rgba(10, 10, 10, 0.15)), color-stop(76%, rgba(78, 78, 78, 0.15)), color-stop(87%, rgba(56, 56, 56, 0.15)), color-stop(100%, rgba(27, 27, 27, 0.15)));
    background: -webkit-linear-gradient(top, rgba(149, 149, 149, 0.15) 0%, rgba(13, 13, 13, 0.15) 46%, rgba(1, 1, 1, 0.15) 50%, rgba(10, 10, 10, 0.15) 53%, rgba(78, 78, 78, 0.15) 76%, rgba(56, 56, 56, 0.15) 87%, rgba(27, 27, 27, 0.15) 100%);
    background: -o-linear-gradient(top, rgba(149, 149, 149, 0.15) 0%, rgba(13, 13, 13, 0.15) 46%, rgba(1, 1, 1, 0.15) 50%, rgba(10, 10, 10, 0.15) 53%, rgba(78, 78, 78, 0.15) 76%, rgba(56, 56, 56, 0.15) 87%, rgba(27, 27, 27, 0.15) 100%);
    background: -ms-linear-gradient(top, rgba(149, 149, 149, 0.15) 0%, rgba(13, 13, 13, 0.15) 46%, rgba(1, 1, 1, 0.15) 50%, rgba(10, 10, 10, 0.15) 53%, rgba(78, 78, 78, 0.15) 76%, rgba(56, 56, 56, 0.15) 87%, rgba(27, 27, 27, 0.15) 100%);
    background: linear-gradient(to bottom, rgba(149, 149, 149, 0.15) 0%, rgba(13, 13, 13, 0.15) 46%, rgba(1, 1, 1, 0.15) 50%, rgba(10, 10, 10, 0.15) 53%, rgba(78, 78, 78, 0.15) 76%, rgba(56, 56, 56, 0.15) 87%, rgba(27, 27, 27, 0.15) 100%);
    -moz-border-radius: 0 0.2vh 0.2vh 0;
    -webkit-border-radius: 0 0.2vh 0.2vh 0;
    border-radius: 0 0.2vh 0.2vh 0;
    height: 50%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 1vh;
    z-index: 1;
}

#slot-trigger .arm {
    background: #0d0d0d;
    background: -moz-linear-gradient(left, #0d0d0d 0%, #4e4e4e 47%, #383838 87%, #1b1b1b 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #0d0d0d), color-stop(47%, #4e4e4e), color-stop(87%, #383838), color-stop(100%, #1b1b1b));
    background: -webkit-linear-gradient(left, #0d0d0d 0%, #4e4e4e 47%, #383838 87%, #1b1b1b 100%);
    background: -o-linear-gradient(left, #0d0d0d 0%, #4e4e4e 47%, #383838 87%, #1b1b1b 100%);
    background: -ms-linear-gradient(left, #0d0d0d 0%, #4e4e4e 47%, #383838 87%, #1b1b1b 100%);
    background: linear-gradient(to right, #0d0d0d 0%, #4e4e4e 47%, #383838 87%, #1b1b1b 100%);
    -moz-border-radius: 0 0 0.4vh 0.4vh;
    -webkit-border-radius: 0 0 0.4vh 0.4vh;
    border-radius: 0 0 0.4vh 0.4vh;
    box-shadow: inset 0 0.2vh 0.5vh rgba(0, 0, 0, 0.8);
    height: 60%;
    left: 2.2vh;
    top: -4.5vh;
    width: 1.3vh;
    z-index: 3;
    overflow: visible !important;
}

#slot-trigger .arm .knob {
    background: #ff6363;
    background: -moz-radial-gradient(center, ellipse cover, #ff6363 0%, #cf0404 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #ff6363), color-stop(100%, #cf0404));
    background: -webkit-radial-gradient(center, ellipse cover, #ff6363 0%, #cf0404 100%);
    background: -o-radial-gradient(center, ellipse cover, #ff6363 0%, #cf0404 100%);
    background: -ms-radial-gradient(center, ellipse cover, #ff6363 0%, #cf0404 100%);
    background: radial-gradient(ellipse at center, #ff6363 0%, #cf0404 100%);
    -moz-border-radius: 1vh;
    -webkit-border-radius: 1vh;
    border-radius: 1vh;
    box-shadow: 0 0.1vh 0.1vh rgba(0, 0, 0, 0.4);
    height: 2vh;
    left: -0.6vh;
    top: -1.5vh;
    width: 2.5vh;
    z-index: 4;
}

#slotTrigger.slotTriggerDown {
    background-position: 0vh -1.7vh;
}

#slotTrigger.slotTriggerDisabled {
    background-position: 0vh -3.4vh;
    display: none;
}

.slotSpinAnimation {
    display: none;
}

#slot-glaze-bottom {
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.1) 45%, rgba(255, 255, 255, 0.1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(45%, rgba(255, 255, 255, 0.1)), color-stop(100%, rgba(255, 255, 255, 0.1)));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.1) 45%, rgba(255, 255, 255, 0.1) 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.1) 45%, rgba(255, 255, 255, 0.1) 100%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.1) 45%, rgba(255, 255, 255, 0.1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.1) 45%, rgba(255, 255, 255, 0.1) 100%);
    bottom: 0.2vh;
    border-radius: 0 0 0.5vh 0.5vh;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: 0 0.1vh 0 rgba(255, 255, 255, 0.2);
    left: 0.3vh;
    height: 1.4vh;
    position: absolute;
    width: 19vh;
}

.spin-div {
    text-align: center;
    position: relative;
    margin-top: -21vh;
    animation-fill-mode: both;
    animation-duration: 5s;
    width: auto;
    height: auto;
}

.spin-element {
    position: absolute;
    height: 10vh;
    padding-bottom: 3vh;
    margin: auto;
    text-align: center;
    transition: top 0.5s linear;
    font-size: 3vh;
    color: red;
}

@keyframes spinresult {
    0% {
        top: 0vh;
    }

    100% {
        top: 23.5vh;
    }
}

.spin-object {
    position: relative;
    text-align: center;
    width: 65vh;
    font-family: "Dancing Script";
    font-size: 3.9vh;
    font-style: italic;
}

/* begin spin */
.bgCfg {
    background: url("./style/image/HLNY2024-2.png") no-repeat center center;
    background-size: cover;
    background-position-x: center;
    height: 100%;
    overflow: hidden;
    width: 100%;
    min-height: 100vh;
}

.full-control {
    min-height: 100vh;
}

.left-control {
    width: 25%;
    max-width: 30vh;
    text-align: left;
}

.right-control {
    width: 25%;
    max-width: 30vh;
    text-align: right;
}

.center-control {
    width: 50%;
    margin: auto;
    padding-top: 54vh;
    margin: auto;
}

.infoCfg {
    min-height: 55vh;
    margin: 2vh 2vh 0 2vh;
}

.btnCfg-margin {
    margin-top: 13vh;
}

#div-history {
    width: 50vh;
    height: 10vh;
    margin: auto;
}

.leverSpin {
    position: relative;
    animation: leverStick 2s ease-in-out;
}

@keyframes leverStick {
    50% {
        height: 0.1vh;
        top: 6.5vh;
    }
}

.history-button {
    --glow-color: rgb(255, 255, 177);
    --glow-spread-color: rgba(191, 123, 255, 0.781);
    --enhanced-glow-color: rgb(255, 206, 206);
    --btn-color: rgb(255, 0, 0);
    border: .25em solid var(--glow-color);
    padding: 1em 3em;
    color: var(--glow-color);
    font-size: 1.5vh;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em .25em var(--glow-color),
        0 0 4em 1em var(--glow-spread-color),
        inset 0 0 .75em .25em var(--glow-color);
    text-shadow: 0 0 .5em var(--glow-color);
    position: relative;
    transition: all 0.3s;
    width: 60%;
    height: 6vh;
    margin-top: 6vh;
    margin-left: 13.5vh;
}

.history-button:after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--glow-spread-color);
    filter: blur(2em);
    opacity: .7;
    transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
}

.history-button:hover {
    color: var(--btn-color);
    background-color: var(--glow-color);
    box-shadow: 0 0 1em .25em var(--glow-color),
        0 0 4em 2em var(--glow-spread-color),
        inset 0 0 .75em .25em var(--glow-color);
}

.history-button:active {
    box-shadow: 0 0 0.6em .25em var(--glow-color),
        0 0 2.5em 2em var(--glow-spread-color),
        inset 0 0 .5em .25em var(--glow-color);
}

.popup-board {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    animation: fadeIn 0.5s ease forwards;
    z-index: 3;
}

/* rgba(0, 0, 0, 0.5); */
.popup-congra {
    position: absolute;
    background-color: aqua;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    opacity: 0;
    animation: fadeIn 0.5s ease forwards;
    z-index: 3;
}

.popup-disable {
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    opacity: 0;
    /* animation: fadeIn 0.5s ease forwards; */
    z-index: 3;
}

.popup {
    position: absolute;
    background-color: aqua;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    opacity: 0;
    animation: fadeIn 0.5s ease forwards;
    z-index: 3;
}

.popup p {
    opacity: 0;
    animation: fadeIn 0.5s ease forwards 0.5s;
}

.blob {
    height: 50px;
    width: 50px;
    color: #ffcc00;
    position: absolute;
    top: 45%;
    left: 45%;
    z-index: 1;
    font-size: 30px;
    display: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.popup-history {
    position: absolute;
    /* top: 5vh; */
    /* left: 61vh; */
    width: 40%;
    height: 92%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    opacity: 0;
    animation: fadeIn 0.5s ease forwards;
    z-index: 3;
}

.div-history {
    position: relative;
    height: 100%;
    width: 100%;
    text-align: center;
}

.popup-history p {
    font-family: "Lemonada";
    color: red;
    font-size: 4vh;
}

.div-table-history {
    height: 70%;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    overflow: auto
}

th {
    position: sticky;
    top: 0;
    font-size: 1.5vh;
}

td {
    font-size: 1.5vh;
}

.popup-history-header {
    background-image: url('./style/image/History4.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    width: 100%;
    height: 20vh;
}

.div-btn-history {
    padding-top: 2vh;
}

.btn-history {
    width: 30vh;
    font-size: 1.5vh;
}

.submit-button {
    width: 20vh;
    color: #ecf0f1;
    font-size: 17px;
    background-color: #e67e22;
    border: 1px solid #f39c12;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 6px 0px #d35400;
    transition: all .1s;
}

.submit-button:active {
    box-shadow: 0px 2px 0px #d35400;
    position: relative;
    top: 2px;
}

.div-button-left {
    margin-left: 4.5vh;
}

.div-button-right {
    margin-right: 4.5vh;
}

.btn-prize {
    border-radius: 1vh;
    border: 1vh solid rgb(242, 255, 0);
    cursor: pointer;
    filter: drop-shadow(0 0 1vh rgb(255, 255, 255));
    /* animation: flickering 2s linear infinite both; */
    text-transform: uppercase;
    background-image: url('./style/image/btn-bg-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(255, 255, 255);
    font-weight: 700;
    transition: 0.6s;
    box-shadow: 0 0 5vh #1f4c65;
    -webkit-box-reflect: below 10px linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.4));
    height: 10vh;
    width: 25vh;
    overflow: hidden;
}

.btn-prize p {
    font-size: 2vh;
    color: red;
}

@keyframes flickering {

    0%,
    100% {
        opacity: 1;
    }

    41.99% {
        opacity: 1;
    }

    42% {
        opacity: 0;
    }

    43% {
        opacity: 0;
    }

    43.01% {
        opacity: 1;
    }

    47.99% {
        opacity: 1;
    }

    48% {
        opacity: 0;
    }

    49% {
        opacity: 0;
    }

    49.01% {
        opacity: 1;
    }
}

.btn-prize h1 {
    font-size: 3vh;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 255, 21);
    -webkit-text-stroke: rgb(0, 179, 255) 0.1vw;
}

.btn-prize:hover {
    background-color: black;
}

.btn-prize-selected {
    border-radius: 1vh;
    border: 1vh solid rgb(255, 0, 0);
    cursor: pointer;
    filter: drop-shadow(0 0 3vh rgb(255, 145, 0));
    /* animation: flickering 2s linear infinite both; */
    text-transform: uppercase;
    background-image: url('./style/image/btn-bg-3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(229, 255, 0);
    font-weight: 700;
    transition: 0.6s;
    transform: scale(1.2);
    box-shadow: 0 0 5vh #1f4c65;
    -webkit-box-reflect: below 10px linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.4));
    height: 10vh;
    width: 25vh;
    overflow: hidden;
}

.btn-prize-selected h1 {
    font-size: 3vh;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 145, 255);
    -webkit-text-stroke: rgb(255, 251, 0) 0.1vw;
}

.btn-prize-selected p {
    font-size: 2vh;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(229, 255, 0);
}

.btn-prize-selected:hover {
    background-color: black;
}

.btn-prize-disable {
    border-radius: 1vh;
    border: 1vh solid rgba(255, 156, 232, 0.5);
    cursor: not-allowed;
    filter: drop-shadow(0 0 3vh rgb(0, 0, 0));
    /* animation: flickering 2s linear infinite both; */
    text-transform: uppercase;
    background-image: url('./style/image/btn-bg-4.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: rgba(0, 255, 157, 0.548);
    font-weight: 700;
    transition: 0.6s;
    box-shadow: 0 0 5vh #1f4c65;
    -webkit-box-reflect: below 10px linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.4));
    height: 10vh;
    width: 25vh;
}

.btn-prize-disable h1 {
    font-size: 3vh;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 0, 0.7);
    -webkit-text-stroke: rgba(90, 255, 96, 0.507) 0.1vw;
}

.btn-prize-disable p {
    font-size: 2vh;
}

.btn-prize-disable:hover {
    background-color: black;
}

.popup-unpick {
    position: absolute;
    /* top: 15vh; */
    /* left: 70vh; */
    width: 70vh;
    height: 70vh;
    background: rgba(0, 0, 0, 0);
    display: flex;
    text-align: center;
    justify-content: center;
    color: white;
    opacity: 0;
    animation: fadeIn 0.5s ease forwards;
    z-index: 4;
}

.div-unpick {
    background-image: url('./style/image/Unpick.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100%;
    width: 100%;
    text-align: center;
}

.btnClose {
    --bg: #ff0000;
    --hover-bg: #fbffa7;
    --hover-text: #2f00ff;
    color: #ffffff;
    cursor: pointer;
    border: 1px solid var(--bg);
    border-radius: 1vh;
    padding: 1vh 2vh;
    background: var(--bg);
    transition: 0.2s;
}

.btnClose:hover {
    color: var(--hover-text);
    transform: translate(-0.25rem, -0.25rem);
    background: var(--hover-bg);
    box-shadow: 0.25rem 0.25rem var(--bg);
}

.btnClose:active {
    transform: translate(0);
    box-shadow: none;
}

.btnCloseUnpick {
    position: absolute;
    top: 52vh;
    left: 8vh;
    color: #ff0000;
}

.div-congra {
    background-color: #ffcc00;
}

.congrats-div {
    background-image: url("./style/image/Value_Button2x.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    /* top: 9vh; */
    /* left: 62vh; */
    width: 80vh;
    height: 80vh;
    z-index: 3;
    text-align: center;
    margin: auto;
}

.congrats-div h1 {
    transform-origin: 50% 50%;
    font-family: "Dancing Script";
    cursor: pointer;
    z-index: 2;
    text-align: center;
    width: 100%;
    color: red;
    -webkit-text-stroke: rgba(255, 175, 99, 0.9) 0.1vh;
    font-size: 5vh;
}

.congrats-div h2 {
    transform-origin: 50% 50%;
    font-family: "Dancing Script";
    cursor: pointer;
    z-index: 2;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    font-size: 6vh;
    margin-top: 2vh;
    color: rgb(0, 174, 255);
    -webkit-text-stroke: rgba(233, 250, 0, 0.9) 0.1vh;
    padding-bottom: 17vh;
}

.congrats-firework {
    background-image: url("./style/image/bg-firework-1920x1080.gif");
    background-size: cover;
    opacity: 80%;
    width: 100%;
    height: 100%;
    left: 0vh;
    top: 0vh;
    position: absolute;
    z-index: -1;
}

.btn-congra {
    top: 28vh;
    width: 30vh;
    height: 8vh;
    --border-radius: 10vh;
    --border-width: 0.8vh;
    appearance: none;
    position: relative;
    padding: 0.1vh 0.2vh;
    border: 0;
    font-family: "Roboto", Arial, "Segoe UI", sans-serif;
    font-size: 1.8vh;
    font-weight: 500;
    color: #fff;
    z-index: 2;
    background: rgba(0, 0, 0, 0.1);
}

.btn-congra::after {
    --m-i: linear-gradient(#000, #000);
    --m-o: content-box, padding-box;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: var(--border-width);
    border-radius: var(--border-radius);
    background-image: conic-gradient(#488cfb,
            #29dbbc,
            #ddf505,
            #ff9f0e,
            #e440bb,
            #655adc,
            #488cfb);
    -webkit-mask-image: var(--m-i), var(--m-i);
    mask-image: var(--m-i), var(--m-i);
    -webkit-mask-origin: var(--m-o);
    mask-origin: var(--m-o);
    -webkit-mask-clip: var(--m-o);
    mask-composite: exclude;
    -webkit-mask-composite: destination-out;
    filter: hue-rotate(0);
    animation: rotate-hue linear 500ms infinite;
    animation-play-state: paused;
}

.btn-congra:hover::after {
    animation-play-state: running;
}

@keyframes rotate-hue {
    to {
        filter: hue-rotate(1turn);
    }
}

.btn-congra,
.btn-congra::after {
    box-sizing: border-box;
}

.btn-congra:active {
    --border-width: 5px;
}