/***PAGE STYLE (BEGIN)***/

.custom-select-content-wrapper {
	width: 100%;
	height: 100vh;
	background: #ffd700;
	background: -moz-linear-gradient(top,  #ffd700 0%, #efa602 100%);
	background: -webkit-linear-gradient(top,  #ffd700 0%,#efa602 100%);
	background: linear-gradient(to bottom,  #ffd700 0%,#efa602 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd700', endColorstr='#efa602',GradientType=0 );
}

.custom-select-form-wrapper {
	position: relative;
	top: 50px;
	margin: 0 auto;
	padding: 0 2.5%;
	width: 32.5%;
	max-width: 650px;
	min-width: 400px;
	border-radius: 10px;
	border: 2px solid rgba(159,107,4,0.45);
	background-color: rgba(255,255,255,0.45);
	box-shadow: 0 10px 20px #bb9241;
}

.custom-select-heading {
	margin: 50px 0;
	font-size: 3em;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	text-shadow: 0 2px 1px #a9742b;
}
/***PAGE STYLE (END)***/

/***CUSTOM SELECT STYLE (BEGIN)***/
fieldset {
	border: none;
}

input[type="text"],
select,
textarea {
	width: 100%;
}

.custom-select-wrapper {
	position: relative;
	margin-bottom: 90px;
	display: block;
}

.custom-select-wrapper select {
	display: none;
	overflow: hidden;
	width: 100%;
}

.custom-select {
	position: relative;
	display: block;
}

.custom-select-trigger {
	position: relative;
	padding: 0;
	display: block;
	overflow: hidden;
	width: 100%;
	border: 2px solid #dbb729;
	border-radius: 10px;
	background-color: #fff;
	font-size: 1.875em;
	line-height: 160%;
	color: #3e345c;
	cursor: pointer;
}

.custom-select-trigger:after {
	position: absolute;
	display: block;
	content: '';
	width: 10px;
	height: 10px;
	top: 50%;
	right: 20px;
	margin-top: -0.13636363em;
	border-bottom: 1px solid #84570a;
	border-right: 1px solid #84570a;
	-webkit-transform: rotate(45deg) translateY(-50%);
	-ms-transform: rotate(45deg) translateY(-50%);
	transform: rotate(45deg) translateY(-50%);
	-webkit-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
	-webkit-transform-origin: 50% 0;
	-ms-transform-origin: 50% 0;
	transform-origin: 50% 0;
}

.custom-select.opened .custom-select-trigger:after {
	margin-top: 0.13636363em;
	-webkit-transform: rotate(-135deg) translateY(-50%);
	-ms-transform: rotate(-135deg) translateY(-50%);
	transform: rotate(-135deg) translateY(-50%);
}

.custom-select-trigger-text {
	position: relative;
	top: 0.4em;
	padding: 0 45px 0 20px;
	display: inline-block;
	overflow: hidden;
	height: 57px;
	color: #84570a;
}

.custom-options {
	position: absolute;
	top: 100%;
	right: 0;
	left: 0;
	margin: 0;
	display: none;
	min-width: 100%;
	border: 1px solid #ececec;
	border-radius: 10px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-shadow: 0 3px 2px rgba(0, 0, 0, 0.1);
	box-shadow: 0 3px 2px rgba(0, 0, 0, 0.1);
	background-color: #fff;
	-webkit-transition: all .4s ease-in-out;
	opacity: 0;
	z-index: 10;
	transition: all .4s ease-in-out;
}

.custom-options:before {
	position: absolute;
	display: block;
	content: '';
	top: -0.22727272em;
	right: 25px;
	width: 7px;
	height: 7px;
	margin-bottom: -0.18181818em;
	border-top: 1px solid #ececec;
	border-left: 1px solid #ececec;
	background: #fff;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}

.option-hover:before {
	background: #f9f9f9;
}

.custom-option {
	position: relative;
	display: block;
	padding: 10px;
	border-bottom: 1px solid #ececec;
	font-size: 1em;
	color: #333333;
	cursor: pointer;
	-webkit-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
}

.custom-option:last-of-type {
	border-bottom: 0;
	border-radius: 10px;
}

.custom-option.selection:hover,
.custom-option:hover {
	background: #fff9e6;
}
/***CUSTOM SELECT STYLE (END)***/

.select_div {
    width : 60%;
    text-align: center;
    margin-left: 20%;
    margin-top: 50px
}