//Color
$clr-text-dark: #333333;
$clr-text-white: #fff;
$clr-background: #f5f5f5;
$clr-primary-btn: #007cc3;
$clr-secondary-btn: #99c9eb;
$clr-accent: #135330;
$clr-logo: #fff;

$fs-0: 30px;
$fs-1: 16px;

