@import "./variables";

.mainNavBar {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $clr-primary-btn;
    width: 250px;
    height: 100%;
    padding-top: 20px;
    .navBrand {
        position: absolute;
        left: 20px;
        display: flex;
        justify-items: center;
        font-weight: bold;
        color: $clr-logo;
        font-size: $fs-0;
    }
    .navBar {
        position: absolute;
        top: 150px;
        left: 0;
        width: 100%;
        ul {
            padding-left: 20px;
            li {
                list-style: none;
                width: 100%;
                border-top-left-radius: 20px;
                border-bottom-left-radius: 20px;
                margin: 5px 0;
                &.active {
                    background-color: $clr-background;
                    a {
                        color: $clr-primary-btn;
                        &::before {
                            content: "";
                            position: absolute;
                            right: 0;
                            top: -20px;
                            width: 20px;
                            height: 20px;
                            border-radius: 50%;
                            box-shadow: 10px 10px 0 0 $clr-background;
                            background: transparent;
                        }
                        &::after {
                            content: "";
                            position: absolute;
                            right: 0;
                            bottom: -20px;
                            width: 20px;
                            height: 20px;
                            border-radius: 50%;
                            box-shadow: 10px -10px 0 0 $clr-background;
                            background: transparent;
                        }
                    }
                }
                &:hover {
                    background-color: $clr-text-dark;
                    opacity: 0.6;
                }
                a {
                    position: relative;
                    display: block;
                    display: flex;
                    align-items: center;
                    width: 100%;
                    text-decoration: none;
                    color: $clr-text-white;
                    .icon {
                        position: relative;
                        min-width: 60px;
                        height: 40px;
                        line-height: 50px;
                        text-align: center;
                        ion-icon {
                            font-size: 1.5em;
                        }
                    }
                    .title {
                        position: relative;
                        height: 45px;
                        line-height: 45px;
                    }
                }
            }
        }
    }
}
