.btnGeneral {
    border: none;
    background-color: #488aec;
    color: #ffffff;
    font-size: 1.2vh;
    line-height: 1rem;
    font-weight: 20;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    align-items: center;
    border-radius: 0.5rem;
    user-select: none;
    gap: 0.75rem;
    box-shadow: 0 4px 6px -1px #488aec31, 0 2px 4px -1px #488aec17;
    transition: all .6s ease;
    width: 15vh;
    max-height: 5vh;
    min-height: 3vh;
    padding: 1vh;
    cursor: pointer;
}

.btnGeneral:hover {
    box-shadow: 0 10px 15px -3px #488aec4f, 0 4px 6px -2px #488aec17;
}

.btnGeneral:focus,
.btnGeneral:active {
    opacity: .85;
    box-shadow: none;
}

.btnDelete {
    color: red;
}

.btnEdit {
    color: #488aec;
}

.btnAdd {
    border: 1px solid blue;
}

.btnClearStep {
    color: red;
    margin-left: 40px;
    position: absolute;
}

.btnClearStep1 {
    color: red;
    margin-left: 17px;
    position: absolute;
}

.btnClearStep2 {
    color: red;
    margin-left: 206px;
    margin-top: -16px;
    position: absolute;
}

.btnLeft {
    color: white;
}

.btnRight {
    color: white;
}