.headerMain {
  .headerContainer {
    margin: 0;
    width: 100%;
    max-width: 100%;
  }
}

.headerMain {
  background-color: #0F2F56;
}

.avatarDiv {
  float: right;
  right: 0;
  position: absolute;
}

.avatarButton {
  padding: 2vh;
  width: auto;
  border-width: 0.5vh;
  border: 1vh;
  border-radius: 1vh;
  height: 6vh;
  font-size: medium;
  -webkit-justify-content:right;

  p {
    padding-left: 1vh;
    color: white;
  }
}