.headerMain {
  .headerContainer {
    margin: 0;
    width: 100%;
    max-width: 100%;
  }
}

.headerMain {
  background-color: rgba(24,71,119,255);
}

.avatarDiv {
  float: right;
  right: 0;
  position: absolute;
}

.avatarButton {
  padding: 2vh;
  width: 25vh;
  border-width: 5px;
  border: 1vh;
  border-radius: 1vh;
  height: 6vh;
  font-size: medium;

  p {
    padding-left: 1vh;
    color: white;
  }
}