.mainDiv {
    width: 100%;
    height: auto;
}

.lineDiv {
    display: inline-flex;
    width: 94%;
    padding: 3vh 5vh 0vh 5vh;
}

.lineDiv1 {
    display: inline-flex;
    width: 94%;
    padding: 3vh 5vh 3vh 5vh;
}

.chartDiv {
    width: 48%;
    height: 500px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 15px;
    border: 1px solid;
}