.contain {
    width: 100%;
    height: auto;
}

.headerDiv {
    position: fixed;
    top: 0;
    width: 100%;
    display: block;
    z-index: 2;
}

.workspaceFlex {
    min-height: 89vh;
    width: 100%;
    background-color: white;
    color: black;
    position: relative;
    display: flex;
    margin-top: 7vh;
}

.content {
    width: 100%;
    max-height: 96vh;
    padding-bottom: 4vh;
    background-color: white;
    box-shadow: 5px 0 5px rgba(0, 0, 0, 0.1);
}

.disable {
    display: none;
}

.test {
    outline: auto blueviolet 10vh;
}

.test-div {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-color: burlywood;
    margin: auto;
    text-align: center;
}