.contain {
    width: 100%;
    height: 100%;
    display: flex;
    margin: 0;
    padding: 0;
    position: relative;
}

.sidebarDiv {
    position: relative;
    height: 100%;
    width: auto;
}

.workspaceFlex {
    height: 100%;
    width: 100%;
    background-color:#F0F4F7;
    color: black;
    display: inline-block;
}

.headerDiv {
    height: 7%;
    width: 100%;
}

.content {
    /* position: relative; */
    /* display: inline-flexbox; */
    display: block;
    position: relative;
    width: 100%;
    height: 94vh;
    background-color: #F0F4F7;
    box-shadow: 5px 0 5px rgba(0, 0, 0, 0.1);
    overflow-y: scroll;
}

.contentDiv{
    min-height: 86vh;
    /* height: 90%; */
    padding-bottom: 3vh;
}

.footerDiv {
    clear: both;
    position: relative;
    /* height: auto; */
}

.disable {
    display: none;
}