.addNewModal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #000;
    background-color: rgb(255, 255, 255);
    padding: 4;
}

.addNewModalDiv {
    position: relative;
    display: inline-block;
    color: rgb(0, 20, 243);
    height: auto;
    width: 120vh;
    text-align: center;
    margin: auto;
    padding: 1vh;
    justify-content: center;
    align-items: center;
}

.addNewModalBody {
    position: relative;
    height: auto;
    width: 80%;
    margin: auto;
}

.addNewInputGroup {
    text-align: left;
    position: relative;
    display: inline-table;
    padding-bottom: 2vh;
    width: 100%;
}

.inputAddNew {
    width: 100%;
    background-color: white
}

.groupInput {
    display: flex;
}

.textAreaModal {
    width: 100%;
    background-color: white;
}

.errorString {
    opacity: 1;
    color: red;
    font-size: medium;
}

.deleteStepperModalDiv {
    position: relative;
    display: inline-block;
    color: rgb(0, 0, 0);
    height: auto;
    width: 60vh;
    text-align: center;
    margin: auto;
    padding: 1vh;
    justify-content: center;
    align-items: center;
}

.deleteStepperModalBody {
    text-align: center;
    position: relative;
    height: auto;
    width: 60%;
    margin: auto;
}

.deleteStepperInputGroup {
    text-align: center;
    position: relative;
    display: inline-table;
    padding-bottom: 2vh;
    width: 100%;
}