.contain {
    width: 97%;
    height: 100%;
    margin: 0;
    padding: 2vh;
    position: relative;
    background-color: #F0F4F7;
}

.titleDiv {
    display: flex;
    width: 100%;
    height: auto;
    color: blue;
}

.middleDiv {
    width: 83%;
}

.slideDiv {
    display: flex;
    width: 100%;
}

.slide {
    width: 18%;
    height: auto;
    padding: 2vh;
}

.slideElement {
    border: solid 1px;
    border-radius: 20px;
    border-color: rgba(136, 136, 136, 0.34);
    padding: 2vh 2vh 0 2vh;
    width: 90%;
    background-color: white;

    /* inline-size: 150px; */
}

.slideTitle {
    white-space: nowrap;
    overflow: hidden;
    height: auto;
    width: 10%0%;
    padding: 0.5vh;
    border-radius: 1vh;
    background-color: rgba(0, 255, 255, 0.5);
    align-items: center;
}

.slideElement:hover {
    border-color: blue;
    box-shadow: 0 10px 15px -3px #0062f5a3, 0 4px 6px -2px #488aec17;
}