/* Sidebar.css */

.drawer-main .MuiPaper-root {
    background-color: #0F2F56;
    color: #B6CADC;
    border: 0;
}

.image-logo {
    background-size: cover;
    width: 25vh;
    height: 5vh;
    padding: 0 0.5vh 0 0.5vh;
    cursor: pointer;
}

.image-logo-small {
    background-size: cover;
    width: 8vh;
    height: 5.8vh;
    cursor: pointer;
    padding: 0;
    /* padding: 0 5px 0 5px */
}